name: Set cache expiration on Quay.io
on:
  schedule:
    - cron: "0 5 * * *" # every day at 5am UTC
  workflow_dispatch:
jobs:
  expire-cache:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set cache expiration on Quay.io
        env:
          QUAY_TOKEN: ${{ secrets.QUAY_API_TOKEN }}
        run: |
          python3 scripts/quay-tag-expire.py
